# {{ ansible_managed }}

{% for item in groups['icinga-satellite'] %}
define host{
host_name       {{ item }}
use             generic-host
address         {{ item }}
hostgroups      {{ item }}
}
define service{
host_name		{{ item }}
service_description	receive DHCP lease
check_command		check_nrpe_1arg!check-dhcp-client
max_check_attempts	5
check_interval		5
retry_interval		3
check_period		24x7
notification_interval	30
notification_period 	24x7
notification_options	w,c,r
}
########################################################
{% endfor %}
